@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Satoshi, sans-serif;
  overflow-x: hidden;
}

.app{
  background-color: #6E6E6E;
}

.navbar{
  height: 60px;
}
/* Home.css */

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:90%;
}

.setion1InitialDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:50px;
  width: 100%;

}

.section1text {
  text-align: left;
}
.webTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  
}

.webPara {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.webIntroVideo {
  margin-top: 20px;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.webIntroVideo video {
  width: 100%;
  border-radius: 10px;
  
}

.introButtons {
  display: flex;
  justify-content: center;
}

.introButtons Button {
  margin: 0 10px;
}
.customBoxShadow{
  border-radius:10px;
  padding:20px ;
  width:90%;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
}
